@model List<IdentityServerHost.Quickstart.UI.ClientViewModel>
@{
    <h1>All clients from database</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Client Id</th>
                <th scope="col">Client Name</th>
                <th scope="col">Redirect Uris</th>
                <th scope="col">Post Logout Redirect Uris</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null){
                @foreach (var client in Model)
                {
                    <tr>
                        <th scope="row">@client.Id</th>
                        <td>@client.ClientId</td>

                        @if (@client.ClientName != null)
                        {
                            <td>@client?.ClientName</td>
                        }
                        else
                        {
                            <td>null</td>
                        }
                        

                        @if(client.RedirectUris.Count() > 0)
                        {
                            <td>@client.RedirectUris[0].RedirectUri</td>
                        }else{
                            <td>null</td>
                        }

                        @if (client.PostLogoutRedirectUris.Count() > 0)
                        {
                            <td>@client.PostLogoutRedirectUris[0].PostLogoutRedirectUri</td>
                        }
                        else
                        {
                            <td>null</td>
                        }
                        
                        <td>
                            <button type="button" class="btn btn-primary" id="copy" onclick="copySecretToClipBoard(this)">Copy secret</button>
                            <input value="@client.ClientSecrets[0]?.Value" id="secret" style="display: none;" />

                            <form asp-route="RegenSecret" method="get">
                                <button type="submit" class="btn btn-primary">Regen client secret</button>
                                <input name="Id" value="@client.Id" style="display: none;" />
                            </form>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>

    <script>

        function copySecretToClipBoard(btn){
            const secret = btn.parentNode.querySelector('#secret').value;

            navigator.clipboard.writeText(secret)
                .then(() => {
                    console.log('Text copied to clipboard:', secret);
                    //Optionally, you can show a success message or perform other actions
                })
                .catch((error) => {
                    console.error('Error copying text to clipboard:', secret);
                    //Handle any errors that occurred during the copy process
                });
        }
    </script>
}
